@import "../../styles/common.scss";

.basket-container {
  max-width: rem(962);
  margin: 0 auto;

  &__body {
    padding: rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(52);
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }

  &__hr {
    width: 100%;
    border: 1px solid #d9d9d9;
  }

  &__item-box {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }

  &__item {
    padding: rem(24) rem(16) rem(24) rem(24);
    border: 1px solid gray(400);
    border-radius: rem(8);

    .item-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__left-box {
        display: flex;
        flex-direction: column;
        gap: rem(8);

        .check-in-out {
          display: flex;
          gap: rem(16);
          align-items: center;

          &__content {
            display: flex;
            gap: rem(12);

            .check-in__span {
              color: gray(700);
            }

            span {
              @extend .text-body2;
            }
          }

          &__retangle {
            color: gray(500);
          }
        }
      }

      &__right-box {
        display: flex;
        gap: rem(24);

        .price {
          color: gray(700);
        }

        .delete-button {
          color: gray(500);
          cursor: pointer;
          padding-top: rem(3);
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    .total-info {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: rem(8);

      &__count {
        color: gray(700);
        padding-top: rem(5);
      }
    }
  }
}
