@import "../../../styles/common.scss";

.customoverlay{
  padding:5px 10px;
  background-color: white;
  border: 3px solid coral(500);
  border-radius: 8px;
}
#category {
  position:absolute;
  top:10px;left:10px;
  border-radius: 5px; 
  border:1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;overflow: hidden;z-index: 2;
  li {
    float:left;
    list-style: none;
    width:50px;
    border-right:1px solid #acacac;
    padding:6px 0;
    text-align: center; 
    cursor: pointer;
    &.on{
      background: #eee;
    }
    &:hover{
      background: #ffe6e6;
      border-left:1px solid #acacac;
      margin-left: -1px;
    }
    &:last-child{
      margin-right:0;
      border-right:0;
    }
    span {
      display: block;
      margin:0 auto 3px;
      width:27px;
      height: 28px;
    }
    .category_bg {background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;}
    .bank {background-position: -10px 0;}
    .cafe {background-position: -10px -144px;}
    .store {background-position: -10px -180px;}
    .on .category_bg {background-position-x:-46px;}
    &.on .category_bg{background-position-x:-46px;}
  }
}

.placeinfo {
  width:100%;
  padding:5px 8px;
  border-radius:6px;
  background: white;
  border: 2px solid coral(500);
  text-align: center;
  span {margin:5px 5px 0 5px;cursor: default;font-size:13px;}
  &_wrap{
    padding:5px 15px;
    transform: translateY(-50px);
  }
}