@import "../../../styles/common.scss";

.room-container {
  &__list {
    display: flex;
    margin: 24px 0;
  }
}
.room {
  &__imgs {
    width: 47%;
    img {
      border-radius: 16px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;

    width: 53%;

    margin: 0 4px;
    border: 1px solid gray(400);
    border-radius: 16px;
    padding: 16px;
  }
  &__options-container {
    display: flex;
    flex-wrap: wrap;
    span {
      margin: 4px 4px 0 0;
    }
  }

  &__detail-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0 8px;

    position: relative;

    border-bottom: 1px solid gray(400);

    &__strikethrough {
      position: absolute;
      top: -50%;
      right: 0;

      color: gray(700);
      text-decoration: line-through;
    }

    &__price {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 4px;
      &__discountBox {
        border: 1px solid coral(500);
        border-radius: 4px;

        padding: 0px 8px;

        font-size: 14px;
        line-height: 21px;

        color: coral(500);
      }
    }

    &__time {
      display: flex;
      gap: 40px;
    }
  }

  &__buttons-container {
    display: flex;
    margin: 16px 0 0;

    :hover {
      transition: background-color 0.5s ease;
      background-color: gray(300);
    }
  }
}
.small-filter__container {
  display: flex;
  justify-content: center;
}
