@import "../../../styles/common.scss";

.order-list {
  max-width: rem(962);
  width: 100%;
  padding: 0 rem(24);
  margin: 0 auto;
  margin-top: rem(40);
}

.members-item {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  border-bottom: 2px solid gray(400);
  &__title {
    color: gray(600);
  }
  &__value {
    width: 100%;
    padding: rem(8) 0;
    background-color: transparent;
  }
}
