@import "../../../styles/common.scss";

.members-item {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  border-bottom: 2px solid gray(400);
  &__title {
    color: gray(600);
  }
  &__value {
    width: 100%;
    padding: rem(8) 0;
    background-color: transparent;
  }
}
