@import "../../../../styles/common.scss";

.coupon-modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.coupon-modal-wrap {
  position: fixed;
  z-index: 1102;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 589px;
  background-color: white;
  box-shadow: shadow(1);
  border-radius: 8px;

  &__header {
    padding: 0 24px;
    height: 70px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    .btn-close {
      background-color: white;
      padding: 0;
      font-size: rem(30);
      border: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  &__body {
    border-top: 1px solid #e5e9ed;
    border-bottom: 1px solid #e5e9ed;

    height: 720px;
    overflow-y: scroll;

    padding: 16px 72px;
  }
  &__footer {
    padding: 0 24px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }
  .coupon-modal-wrap__body__coupon-wrap {
    width: 493px;
    height: 185px;

    margin-top: 16px;
    padding: 16px 24px;

    border: 2px solid coral(500);
    border-radius: 16px;
    &__color-coral {
      color: coral(500);
    }
    &__color-gray {
      color: gray(700);
    }

    &__options {
      height: 80px;
      list-style-type: disc;

      padding: 4px 16px;

      color: gray(700);
    }
    &__room {
      display: flex;
      justify-content: end;

      gap: 4px;

      &-item {
        border: 2px solid gray(700);
        border-radius: 4px;

        padding: 0px 8px;

        background-color: gray(700);

        color: white;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}
.no-scroll {
  overflow: hidden;
}
