@import "../../../styles/common.scss";

.common-badge {
  padding: 2px 8px;

  border-radius: 8px;

  @extend .text-body3;

  &.dark {
    border: 1px solid coral(500);
    color: coral(500);
  }

  &.light {
    border: 1px solid coral(300);
    color: coral(300);
  }
}
