@import "../../styles/common.scss";

.common-badge {
  &.line {
    color: coral(500);
    border: 1px solid coral(500);
    border-radius: 4px;
    padding: 0 8px;
    @extend .text-body2;
  }
  &.fill {
    color: white;
    background-color: coral(300);
    border-radius: 8px;
    padding: 2px 8px;
    @extend .text-body1;
  }
  &.used {
    color: white;
    border: 1px solid coral(300);
    background-color: coral(300);
    border-radius: 8px;
    padding: 2px 8px;
    @extend .text-body1;
  }
  &.canceled {
    padding: 2px 8px;
    border: 1px solid coral(300);
    color: coral(300);
  }
}
