@import "../../../styles/common.scss";

.header__cart-button {
  padding: rem(8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(4);
  border-radius: 8px;
  position: relative;
  color: gray(700);

  & .cart-button__icon {
    font-size: rem(20);
    margin: 6px;
  }

  &:hover {
    background-color: gray(100);
  }
}

.cart-button__amount {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: map-get($caption2, font-size);
  font-weight: 700;
  background-color: gray(300);
  width: rem(20);
  height: rem(20);
  border-radius: 50%;
}
