@import "../../styles/common.scss";

.home-wrapper {
  display: flex;
  justify-content: center;
}

.home-inner {
  width: rem(1192);
  display: flex;
  justify-content: space-between;
  gap: rem(24);
}
