@import "../../../styles/common.scss";

.header-container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;

  width: 100%;
  height: rem(88);
  background-color: white;

  border-bottom: 1px solid gray(300);

  @media (max-width: 1200px) {
    padding: 0 20px;
    min-width: 900px;
  }
}

.header-container__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: rem(1192);
  min-width: rem(360);
  width: 100%;
  height: 100%;
}

.header-container__left {
  width: 20%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.header-container__center {
  position: relative;
  width: calc(1192 * 0.4px);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  @media (max-width: 1200px) {
    justify-content: flex-start;
  }
}

.filter__divider {
  width: rem(1);
  height: rem(16);
  background-color: gray(500);
}

.media {
  @media (max-width: 1200px) {
    position: relative;
  }
}

.header-container__right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: rem(16);
}

.header-container__logo {
  font-family: "CWDangamAsac-Bold";
  color: coral(500);
  font-size: rem(32);
  white-space: nowrap;
}
