$gray400:#D0DAE3;
$gray600:#9199A4;
$gray900: #000000;
$coral500:#FE395B;
$body3:14px;
$body1:18px;

.common-input-title{
  font-size: $body3;
  color:$gray600;
  margin: 0 0 24px;
  text-align: start;
}
.common-input{
  width:100%;
  font-size: 18px;
  outline: none;
  border:none;
  border-bottom: 2px solid $gray400;
  transition: all 0.3s ease;
  color: $gray900;
  &::placeholder{
    color:$gray600;
  }
  &:focus{
    border:none;
    border-bottom: 2px solid $coral500;
  }
}