@import '../../styles/common.scss';


@mixin fill-button($color,$hoverColor) {
  background-color: $color;
  border: 1px solid $color;
  color: white;
  outline: none;
  &:hover {
    background-color:$hoverColor;
    border: 1px solid $hoverColor;
  }
}
@mixin line-button($color,$hoverColor) {
  background-color: white;
  border: 1px solid $color;
  color: $color;
  outline: none;
  &:hover {
    border: 1px solid $hoverColor;
    color: $hoverColor;
  }
}

.CommonButton {
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  border-radius: 8px;

  &.small{
    width: auto;
    padding: 12px 32px;
  }
  &.large{
    width: 100%;
    padding: 12px 0;
  }

  @for $i from 100 through 800 {
    $color: map-get($coral, $i);
    $hoverColor: map-get($coral, $i+100);
    &.fill-coral#{$i} {
      @include fill-button($color,$hoverColor);
    }
    &.line-coral#{$i} {
      @include line-button($color,$hoverColor)
    }
  }
}