@import "../../styles/common.scss";

.room-list__item {
  padding: rem(24) rem(16) rem(24) rem(24);
  border: 1px solid gray(400);
  border-radius: rem(8);

  .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left-box {
      display: flex;
      flex-direction: column;
      gap: rem(8);

      .check-in-out {
        display: flex;
        gap: rem(16);
        align-items: center;

        &__content {
          display: flex;
          gap: rem(12);

          .check-in__span {
            color: gray(700);
          }

          span {
            @extend .text-body2;
          }
        }

        &__retangle {
          color: gray(500);
        }
      }
    }

    &__right-box {
      display: flex;
      gap: rem(24);

      .price {
        color: gray(700);
      }

      .delete-button {
        color: gray(500);
        cursor: pointer;
        padding-top: rem(3);
      }
    }
  }
}
