@import "../../../styles/common.scss";

.order-list-item {
  padding: rem(24) 0;
  border-bottom: 2px solid gray(400);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(8);
  }
  &__left {
    display: flex;
    align-items: center;
    gap: rem(16);
  }
  &__right {
    display: flex;
    gap: rem(8);
    align-items: center;
  }
  &__button {
    margin-top: rem(8);
  }
  &__swiper {
    margin-bottom: rem(8);
  }
}
