@import "../../../styles/common.scss";

.order-list-item {
  padding: rem(24) 0;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(8);
    gap: rem(8);
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__button {
    margin-top: rem(8);
  }
  &__swiper {
    margin-bottom: rem(8);
  }
  &:last-of-type {
    border-bottom: 0;
  }
}
