@import "../../../styles/common.scss";

.accommodation__main-info__detail{
  display: flex;
  gap:8px;
  align-items: center;
  color: gray(700);
}
.accommondation__name__deco{
  background-color: coral(500);
  width:6px;
  height:30px;
}