@import "../../styles/common.scss";

.accommodation-container{
  width:962px;
  margin:0 auto;
}
.accommodation__main-info, .accommodation__introduce, .accommodation__options, .accommodation__select-room{
  padding:24px;
}

.accommodation{
  &__name{
    display: flex;
    gap:8px;
    align-items: center;
  }

  &__menu-title{
    margin: 0 0 8px;
  }

  &__divider{
    background-color: gray(400);
    width:100%;
    height: 1px;
    margin: 0 24px;
  }
}