@import "../../styles/common.scss";

.accommodation__animation-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  width: 100%;
  height: 500px;
  p {
    font-size: map-get($body2, font-size);
    font-weight: map-get($body2, font-weight);
    color: $error;
  }
}

.accommodation-container{
  width:962px;
  margin:2rem auto 0;
}
.accommodation__main-info, .accommodation__introduce, .accommodation__options, .accommodation__select-room, .accommodation__map{
  padding:24px;
}

.accommodation{
  &__name{
    display: flex;
    gap:8px;
    align-items: center;
  }
  
  &__menu-title{
    margin: 0 0 8px;
  }

  &__divider{
    background-color: gray(400);
    width:100%;
    height: 1px;
  }
}