@import "../../styles/common.scss";
.accommodation__nav {
  width: 100%;
  border-top: 1px solid gray(400);
  border-bottom: 1px solid gray(400);

  background-color: white;

  position: fixed;
  z-index: 1011;

  &__header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-size: 14px;
    line-height: 16px;

    &__item {
      padding: 19px 0px 8px;
    }
  }
}

.item-underline {
  border-bottom: 4px solid coral(500);
}

.accommodation__animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 600px;
  width: 100%;
  height: 500px;
  p {
    font-size: map-get($body2, font-size);
    font-weight: map-get($body2, font-weight);
    color: $error;
  }
}

.accommodation-container {
  width: 962px;
  margin: 2rem auto 0;
}
.accommodation__main-info,
.accommodation__options,
.accommodation__select-room,
.accommodation__map {
  padding: 24px;
}
.accommodation__introduce {
  padding: 16px 24px;
}
.accommodation {
  &__name {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__menu-title {
    margin: 0 0 8px;
  }

  &__divider {
    background-color: gray(400);
    width: 100%;
    height: 1px;
  }

  &__coupon-wrapper {
    padding: 0px 24px 16px;
    &__coupon-modal-btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 20px;
      line-height: 30px;
      font-weight: 700;

      padding: 8px;

      background-color: coral(500);
      color: white;

      border-radius: 8px;

      &__right-menu {
        font-weight: 400;
        font-size: 16px;

        display: flex;
        align-self: center;
        gap: 0.25rem;
        svg {
          vertical-align: middle;
        }
      }
    }
  }
}
