@import "../../../styles/common.scss";

.accomdationItem-container {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  width: rem(280);
  height: rem(380);

  &__image-box {
    width: 100%;
    height: rem(280);

    img {
      border-radius: rem(16);
      width: inherit;
      height: inherit;
    }
  }

  &__desc-box {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    .item-info {
      display: flex;
      justify-content: space-between;
      &__lacation {
        color: gray(700);
      }
    }

    .item-price {
      display: flex;
      align-items: center;
      gap: rem(8);

      .text-body1 {
        color: gray(700);
      }
      .won {
        color: gray(700);
      }
    }
  }
}
