@import '../../../styles/common.scss';

.payment-method {
  margin-top: rem(16);
  display: flex;
  gap: rem(8);
  flex-wrap: wrap;
  padding: rem(16) 0 rem(24);
  border-top: 1px solid gray(400);
  border-bottom: 1px solid gray(400);
}
