@import "../../styles/common.scss";

.common-bg {
  position: fixed;
  left: 0;
  top: 0;
  background: url("/src/assets/images/login-bg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  @include mdq-max(700) {
    background-position: center center;
  }
}

.bg-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 220px 0;
  padding-right: 200px;
  height: 100%;
  @include mdq-max(1200) {
    padding-right: 0;
    padding: 0 20px;
    justify-content: center;
  }
}

.login-wrap {
  max-width: 580px;
  width: 100%;
  background-color: white;
  box-shadow: box-shadow(2);

  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

  &__header {
    display: flex;
    .header-list {
      width: 100%;
      .link {
        display: block;
        flex: 1 0 50%;
        height: 4rem;
        line-height: 4rem;
        border: none;
        border-radius: 8px 8px 0px 0px;
        background-color: #f9f9fa;
        color: gray(500);
        font-size: rem(22);
        font-weight: 800;
        text-align: center;
        &.on {
          background-color: white;
          color: black;
        }
        @include mdq-max(700) {
          font-size: rem(18);
        }
      }
    }
  }
  &__body {
    padding: 44px;
    @include mdq-max(700) {
      padding: 20px;
    }
    .input-inner {
      margin-bottom: 24px;
      label {
        display: block;
        width: 100%;
        font-size: rem(18);
        margin-bottom: 8px;
        @include mdq-max(700) {
          font-size: rem(16);
          flex: 1 1 80%;
        }
      }
      input {
        display: block;
        width: 100%;
        border: 1px solid gray(400);
        border-radius: 4px;
        font-size: rem(18);
        color: gray(600);
        padding: 16px;
        &::placeholder {
          color: gray(600);
        }
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &[type="number"] {
          -moz-appearance: textfield;
        }
        @include mdq-max(700) {
          font-size: rem(16);
          &.input-visible {
            padding-right: 30px;
          }
          &::placeholder {
            font-size: rem(13);
          }
        }
      }
      &__item {
        position: relative;
        .button-inner {
          position: relative;
        }
        button {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          &.btn-check {
            font-size: rem(18);
            color: coral(500);
            @include mdq-max(700) {
              right: 12px;
              font-size: rem(14);
            }
          }
          &.btn-visible {
            display: inline-flex;
            align-items: center;
            font-size: 24px;
            color: gray(500);
            @include mdq-max(700) {
              right: 12px;
              font-size: rem(14);
            }
          }
        }
      }
    }
    .alert-message {
      font-size: map-get($body3, "font-size");
      color: $error;
      text-align: start;
      margin: 5px 0 0;
      @include mdq-max(700) {
        font-size: rem(13);
      }
    }
    .agree-inner {
      margin-top: 70px;
    }
    .common-button {
      margin-top: 24px;
      height: 60px;
      @include mdq-max(700) {
        height: 50px;
      }
    }
  }
}
